@charset "utf-8";
/* CSS Document */
@import url('../css/fonts.css');
html,body{
	margin: 0%;
	box-sizing: border-box;
	overflow-x: hidden;
	scroll-behavior:smooth;
	transition: 4s ease;
}
.loader-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	background:radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 12%, rgba(227,227,227,1) 48%, rgba(217,217,217,1) 84%, rgba(217,217,217,1) 100%);
	display:flex;
  justify-content: center;
  align-items: center;
	overflow: hidden;
	z-index: 10;
}
.loader{
	position: fixed;
	width: 100%;
	height: 100%;
	background:url('../assets/monkey-1.gif') no-repeat center;
	background-size: contain;
	z-index: 20;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
	background: #262626;
}
.row{
	margin: 4rem;
	width: 85%;
	display: grid;
    grid-template-columns: 33% 33% 33%;
}

:root {
	
	/*   Theme colors   */
	--pink: #f04267;
	--yellow:#ffcb04;
	--blue:#5fa998;
	
	/*    Theme font-family   */
	
	/*    Gradient color     */
	--sky:linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
	--many:linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
}
/* -------------------Global Classes------------------ */
a{
	text-decoration: none;
	color: black;
}
.flex-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
ul{
	list-style-type: none;
}
h1{
	font-family: Finger_Paint;
	font-size: 2.5rem;
}
h3{
	font-family: Satisfy;
	font-size: 1.3rem;
}
h2{
	font-family: Satisfy;
	font-size: 1.9rem;
}
button.btn{
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-family: Love_Ya_Like_A_Sister;
	cursor: pointer;
	outline: none;
}


/* ---------X----------Global Classes------X--------- */
/* -------------------navbar------------------ */

.nav{
	background: white;
	padding: 0 2rem;
	height: 0rem;
	min-height: 10vh;
	overflow: hidden;
	transition: height 1s ease-in-out;
}

.nav .nav-menu{
	justify-content: space-between;
}

.nav .toggle-collapse{
	position: absolute;
	top: 0%;
	width: 90%;
	cursor: pointer;
	display: none;
}

.nav .toggle-collapse .toggle-icons{
	display: flex;
	justify-content: flex-end;
	padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
	font-size: 1.4rem;
	color: #3f4954;
}

.collapse{
	height: 30rem;
}

.nav .nav-items{
	display: flex;
	margin: 0;
}

.nav .nav-items .nav-links{
	padding: 1.6rem 1rem;
	font-size: 1.1rem;
	position: relative;
	font-family: Emilys_Candy;
}

.nav .nav-items .nav-links:hover{
	background-color: var(--yellow);
}

.nav .nav-items .nav-links:hover a{
	color: white;
}

.nav .nav-brand a{
	font-size: 1.6rem;
	padding: 1rem 0;
	display: block;
	font-family: Faster_One;
}

.nav .nav-social{
	padding: 1.4rem 0;
}

.nav .nav-social i{
	padding: 0 .2rem;
}

.nav .nav-social i:hover{
	color:#a1c4cf;
}

/* ---------X----------navbar--------X---------- */


/* ---------main content---------- */

/* -------site title--------- */

main .site-title{
	background: url('../assets/images/techandall_wallpaper_6.jpg');
	background-size: cover;
	height: 85vh;
	display: flex;
	justify-content: center;
}

main .site-title .site-background{
	padding-top: 10rem;
	text-align: center;
	color: white;
}

main .site-title h1,h3{
	margin: .3rem;
}

main .site-title h1{

	color: #000000;
}

main .site-title .btn{
	margin: 1.8rem;
	background: var(--sky);
}

main .site-title .btn:hover{
	background: transparent;
	border: 1px solid white;
}

/* ---------X--site title-X---------- */


/* ---------------- Site Content ----------------*/
.cont{
	margin: .3rem;
	
}
img{
width: 100%;
object-fit: cover;
	transition: 1s ease;
}
img:hover{
	transform: scale(1.07);
	
}
/* -------x------- Site Content-----x----------- */

/* ---------X---main content----X---------- */

/* ------------Viewport less than or equal to 700px---------- */
@media only screen and (max-width:700px){
	.nav{
		background: #fff;
	}
	.nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
	.nav .toggle-collapse{
		display: initial;
	}
	/*.nav .nav-items{
		flex-direction: column;
	}*/
}
/* -------X-----Viewport less than or equal to 750px-----X----- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
		grid-template-columns: repeat(1, 1fr);
    }
	

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */
